*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#head{
    width: 100%;
    background-color:  #003b95;
}
.clr{
    color:  #003b95;
}
.clr2{
    background-color: #003b95;
}
/* height used in head section */
.height1{
    height: 500px;
    width: 100%;   
}
.ul1{
    list-style: none;
}
.wid{
    width: 100%;
}
/* flag image at header section */
.img1{
    width: 20px;
}
/* font weight */
.f1{
    font-weight: 500;
}
#stays{
    width: 100%;
}
.cardimg{
    object-fit: cover!important;
    height: 100%;
    width: 100%;
    display: block;
    max-height: 100%;
    max-width: 100%;

}





